.container {
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.document-item {
    margin-bottom: 8px;
}

.document-type {
    margin: 0;
}

.document-content {
    display: flex;
    justify-content: space-between;

    button {
        margin-left: auto;
    }
}
.btn {
    background: none;
    border: 1px solid #dddddd;
    border-radius: 2px;
    padding: 8px;
    cursor: pointer;
}