mat-toolbar-row {
    display: flex;

    justify-content: space-between;
}

.actions {
    $space: 8px;
    margin: 0 -#{$space};

    &__item {
        margin: $space;

        font-size: 16px;
    }
}